{% extends 'base.html.twig' %}

{% block title %}ANMELDUNG HELFER | {{project.name}} {% endblock %}


{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/datepicker.min.css') }}" >
{% endblock %}

{% block main %}

        

    <section class="font-sans antialiased w-full">
            <div class="w-full mx-auto">
                <div class="my-8 flex-row-reverse flex flex-wrap md:items-center w-full">

                    <div class="bg-burgdorf-light relative rounded shadow-lg w-full md:w-1/2 z-0 mx-auto -mt-1 md:-mt-0 md:-ml-1">
                        
                        <div class="
                            js-prev-slide-box
                            absolute flex items-center
                            pin-y pin-l 
                            pl-4
                            hover:text-grey-darkest cursor-pointer
                            ">
                            <i class="fas fa-angle-double-left fa-2x"></i> 
                        </div>

                        <div class="
                            js-next-slide-box
                            absolute flex items-center 
                            pin-y pin-r 
                            pr-4
                            hover:text-grey-darkest cursor-pointer
                            ">
                            <i class="fas fa-angle-double-right fa-2x"></i>
                        </div>
                        
                        <div class="py-8 text-center text-grey-darkest font-semibold uppercase">Mögliche Einsätze</div>
                        
                        <hr class=" my-0 border border-grey-darkest opacity-25">
                    
                        <div class="py-8">

                            {% for mission in missions %}
                                <div class="
                                    js-slide-box
                                    w-3/4 mx-auto 
                                    bg-white  shadow-lg rounded-lg overflow-hidden 
                                    hidden
                                ">
                                    <div class="sm:flex sm:items-center px-6 py-4 js-mission-image">
                                    <div style="position:relative">
                                        <img  class="block sm:h-1/2 rounded-full mx-auto mb-4 sm:mb-0 sm:mr-4 sm:ml-0" src="/images/{{mission.image}}" alt="">

                                        <div class="invisible cursor-pointer js-mission-video-preview opacity-50" style="
                                            position: absolute;
                                            top: 0px;
                                            width: 100%;
                                            height: 100%;
                                            background-color:white;
                                            z-index: 100;
                                        ">
                                        </div>
                                        <div class="opacity-100 text-center text-black js-mission-video-preview invisible" style="position:absolute; left: 50%;
  top: 50%;
  transform: translate(-50%,-50%); z-index:1000;">
                                        <i class="fas fa-fw fa-3x  fa-play-circle"  style="color: black;"></i>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="p-6">    
                                        <div class="text-center sm:text-left sm:flex-grow">
                                            <div class="mb-4">
                                                <p class="text-xl leading-tight uppercase mb-6">{{mission.name}}</p>
                                                
                                                <div class="mb-4">
                                                    {{ mission.shortDescription|raw }}
                                                </div>
                                                <div>
                                                    Wann: {{mission.start|date('d.m.Y')}} um {{mission.start|date('H:i')}} bis
                                                    
                                                    {% if mission.start|date('d.m.Y') != mission.end|date('d.m.Y') %}
                                                        {{mission.end|date('d.m.Y')}} um
                                                    {% endif %}
                                                
                                                    {{mission.end|date('H:i')}}
                                                </div>

                                            </div>
                                            <div class="flex justify-center pb-3 text-grey-dark">
                                                <div class="text-center mr-3 border-r w-1/2 pr-3">
                                                     <h2
                                                     class="
                                                     {% if mission.countEnrolledVolunteers < mission.requiredVolunteers %}
                                                        text-green
                                                        {% else %}
                                                        text-red
                                                      {% endif %}
                                                     "
                                                     >{{mission.countEnrolledVolunteers}}</h2>
                                                    <span>Bereits angemeldete Helfer</span>
                                                </div>
                                                <div class="text-center w-1/2">
                                                    <h2>{{mission.requiredVolunteers}}</h2>
                                                    <span>Total gesuchte Helfer</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}   
                        </div>
                    </div>


                    <div class="bg-white shadow-lg rounded w-full md:w-1/2 z-10">
                        {# show errors: #}
                        {% if not enrollForm.vars.valid %}    
                            <div class="w-full mb-6 bg-red-lightest border border-red-light text-red-dark px-4 py-3 rounded relative" role="alert">                            
                                {# Loop through every enrollForm item #}
                                {% for child in enrollForm.children %}
                                    {# Display the errors of the enrollForm item #}
                                    {%for error in child.vars.errors%}
                                    <span class="font-bold">{{ child.vars.label}}</span> {{error.message}}
                                    {%endfor%}
                                {%endfor%}
                            </div>
                        {%endif%}
                        {{ form_start(enrollForm) }}
                            <div class="py-8 text-center text-grey-darkest font-semibold uppercase">Anmeldung als Helfer </div>
                            <hr class="py-0 my-0 border border-grey-lighter">
                            <div class="py-8 w-3/4 mx-auto">
                                <div class="flex flex-wrap -mx-3 mb-6">
                                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">
                                            {{ form_label(enrollForm.firstname) }}
                                        </label>
                                        {{ form_widget(enrollForm.firstname, {'attr': {'class': 'appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter  rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
                                        <small>
                                            {{ form_help(enrollForm.firstname) }}
                                        </small>
                                        <p class="text-red text-xs italic">
                                            {{ form_errors(enrollForm.firstname) }}
                                        </p>
                                    </div>
                                    <div class="w-full md:w-1/2 px-3">
                                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">
                                            {{ form_label(enrollForm.lastname) }}
                                        </label>
                                        {{ form_widget(enrollForm.lastname, {'attr': {'class': 'appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter  rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
                                        <small>
                                            {{ form_help(enrollForm.lastname) }}
                                        </small>
                                        <p class="text-red text-xs italic">
                                            {{ form_errors(enrollForm.lastname) }}
                                        </p>
                                    </div>
                                </div>

                                <div class="flex flex-wrap -mx-3 mb-6">
                                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">
                                            {{ form_label(enrollForm.mobile) }}
                                        </label>
                                        {{ form_widget(enrollForm.mobile, {'attr': {'class': 'appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter  rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
                                        <small>
                                            {{ form_help(enrollForm.mobile) }}
                                        </small>
                                        <p class="text-red text-xs italic">
                                            {{ form_errors(enrollForm.mobile) }}
                                        </p>
                                    </div>
                                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">
                                            {{ form_label(enrollForm.email) }}
                                        </label>
                                        {{ form_widget(enrollForm.email, {'attr': {'class': 'appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter  rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
                                        <small>
                                            {{ form_help(enrollForm.email) }}
                                        </small>
                                        <p class="text-red text-xs italic">
                                            {{ form_errors(enrollForm.email) }}
                                        </p>
                                    </div>
                                </div>

                                <div class="flex flex-wrap -mx-3 mb-6">

                                    <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0 {% if not enrollForm.birthday.vars.valid %}form-group-error{% endif %}">
                                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">
                                            {{ form_label(enrollForm.birthday) }}
                                        </label>
                                        {{ form_widget(enrollForm.birthday, {'attr': {'class': '
                                            js-datepicker appearance-none block w-full bg-grey-lighter text-grey-darker 
                                            border border-grey-lighter" 
                                            rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
                                        <small>
                                            {{ form_help(enrollForm.birthday) }}
                                        </small>
                                        <p class="text-red text-xs italic">
                                            {{ form_errors(enrollForm.birthday) }}
                                        </p>
                                    </div>
                                    <div class="w-full md:w-2/3 px-3 mb-6 md:mb-0">
                                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">
                                            {{ form_label(enrollForm.street) }}
                                        </label>
                                        {{ form_widget(enrollForm.street, {'attr': {'class': 'appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter  rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
                                        <small>
                                            {{ form_help(enrollForm.street) }}
                                        </small>
                                        <p class="text-red text-xs italic">
                                            {{ form_errors(enrollForm.street) }}
                                        </p>
                                    </div>
                                </div>

                                <div class="flex flex-wrap -mx-3 mb-12">
                                    <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">
                                            {{ form_label(enrollForm.zip) }}
                                        </label>
                                        {{ form_widget(enrollForm.zip, {'attr': {'class': 'appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter  rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
                                        <small>
                                            {{ form_help(enrollForm.zip) }}
                                        </small>
                                        <p class="text-red text-xs italic">
                                            {{ form_errors(enrollForm.zip) }}
                                        </p>
                                    </div>
                                    <div class="w-full md:w-2/3 px-3 mb-6 md:mb-0">
                                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">
                                            {{ form_label(enrollForm.city) }}
                                        </label>
                                        {{ form_widget(enrollForm.city, {'attr': {'class': 'appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter  rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'}}) }}
                                        <small>
                                            {{ form_help(enrollForm.city) }}
                                        </small>
                                        <p class="text-red text-xs italic">
                                            {{ form_errors(enrollForm.city) }}
                                        </p>
                                    </div>
                                </div>
                        
                                <div class="flex flex-wrap -mx-3 mb-6">
                                    <div class="w-full px-3 mb-6 md:mb-0">
                                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-state">
                                           {{ form_label(enrollForm.missionChoice01) }}
                                        </label>
                                        <div class="flex flex-wrap">
                                            <div class="relative md:w-full mb-2">
                                                {{ form_widget(enrollForm.missionChoice01, {'attr': {'class': 'js-mission-choice block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-grey'}}) }}
                                                <small>
                                                    {{ form_help(enrollForm.missionChoice01) }}
                                                </small>
                                                <p class="text-red text-xs italic">
                                                    {{ form_errors(enrollForm.missionChoice01) }}
                                                </p>
                                                <div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darker">
                                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                                                </div>
                                            </div>
                                            <div class="relative md:w-full">
                                                {{ form_widget(enrollForm.missionChoice02, {'attr': {'class': 'js-mission-choice block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-grey'}}) }}
                                                <small>
                                                    {{ form_help(enrollForm.missionChoice02) }}
                                                </small>
                                                <p class="text-red text-xs italic">
                                                    {{ form_errors(enrollForm.missionChoice02) }}
                                                </p>
                                                <div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darker">
                                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>  

                                <div class="flex flex-wrap -mx-3 mb-4">
                                    <div class="w-full px-3 mb-6 md:mb-0 hidden">

                                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-state">
                                           {{ form_label(enrollForm.hasTshirt) }}
                                        </label>
                                        <div class="relative md:w-full mb-2">
                                                {{ form_widget(enrollForm.hasTshirt, {'attr': {'class': 'js-hasTshirt block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-grey'}}) }}
                                                <small>
                                                    {{ form_help(enrollForm.hasTshirt) }}
                                                </small>
                                                <p class="text-red text-xs italic">
                                                    {{ form_errors(enrollForm.hasTshirt) }}
                                                </p>
                                                <div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darker">
                                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                                                </div>
                                            </div>

                                    </div>
                                    <div class="js-tshirtsize w-full  px-3 mb-6 md:mb-0 ">

                                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-state">
                                           {{ form_label(enrollForm.tshirtsize) }}
                                        </label>
                                        <div class="relative md:w-full mb-2">
                                                {{ form_widget(enrollForm.tshirtsize, {'attr': {'class': 'block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-grey'}}) }}
                                                <small>
                                                    {{ form_help(enrollForm.tshirtsize) }}
                                                </small>
                                                <p class="text-red text-xs italic">
                                                    {{ form_errors(enrollForm.tshirtsize) }}
                                                </p>
                                                <div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darker">
                                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                
                                <div class="flex flex-wrap -mx-3 mb-6">
                                    <div class="w-full px-3 mb-6 md:mb-0">
                                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">
                                            {{ form_label(enrollForm.comment) }}
                                        </label>
                                        {{ form_widget(enrollForm.comment, {'attr': {'rows': '6','class': 'block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-grey'}}) }}
                                        <small>
                                            {{ form_help(enrollForm.comment) }}
                                        </small>
                                        <p class="text-red text-xs italic">
                                            {{ form_errors(enrollForm.comment) }}
                                        </p>
                                
                                    </div>
                                </div>
        
                                <p class="mt-5">
                                    Wir bieten:
                                    <div class="flex mt-2 mb-2">
                                        <i class="fas fa-check-circle mr-2 mb-2"></i>  
                                        Verpflegung am Einsatztag.
                                    </div>
                                    <div class="flex mb-2">
                                        <i class="fas fa-check-circle mr-2 mb-2"></i>  
                                        Jeder Helfer darf sich auf ein Helfergeschenk freuen.
                                    </div>
                                    <div class="flex mb-2">
                                        <i class="fas fa-check-circle mr-2 mb-2"></i>  
                                       Für Vereine die 10 Helfer stellen, einen grosszügigen Beitrag in die Vereinskasse.
                                    </div>
                                    <div class="flex mt-6 mb-2">
                                        <i class="fas fa-info-circle mr-2"></i>  
                                        Nach Absprache können gerne Kinder ab 8 Jahren mithelfen.
                                    </div>
                                </p>
                                <p class="font-bold mt-2">
                                    <div class="flex mb-2">
                                    <i class="fas fa-info-circle mr-2"></i> Ohne Helfer läuft nichts!<br />
                                    Schon jetzt, besten Dank für deine tatkräftige Mithilfe und Unterstützung beim nächsten Stadtlauf am 12.09.2020!
                                    </div>
                                </p>
                                <p class="mt-6">
                                    Sportliche Grüße und freue mich, dich zu sehen.
                                </p>
                                <p class="mt-4">
                                    Maria Rothenbühler,
                                </p>
                                <p >
                                    Ressort Personal OK-Burgdorfer-Stadtlauf
                                    </p>
                                    <p class="mt-4">
                                    Fragen bitte an:
                                    <a href="mailto:personal@burgdorfer-stadtlauf.ch?subject=Stadtlauf">personal@burgdorfer-stadtlauf.ch</a>
                                </p>
                            </div>
                            
                            <div class="py-8 text-indigo-darker rounded rounded-t-none text-center uppercase font-bold flex items-center justify-center">
                                <button type="submit" 
                                class="
                                    uppercase bg-white hover:bg-grey-lightest 
                                    text-grey-darkest font-semibold py-4 px-8 border border-grey-light rounded shadow
                                ">
                                    mich anmelden
                                </button>
                            </div>


                        
                        {{ form_end(enrollForm) }}   
                    </div>
                </div>
            </div>
    </section>
{% endblock %}


{% block javascripts %}
    {{parent()}}

    <script src="{{ asset('js/datepicker.min.js') }}"></script>
    <script>
        jQuery( document ).ready(function() {
            jQuery('.js-datepicker').datepicker({
                autoHide: true,
                zIndex: 2048,
                format: "dd.mm.yyyy",
            });

            const slideBoxes = jQuery('.js-slide-box');
            var currentSlideBoxIndex = 0;

            var showCurrentSlideBox = function(){
                slideBoxes.hide();
                slideBoxes.slice(currentSlideBoxIndex,currentSlideBoxIndex+1).show();
            }

            var renderTshirtForm = function(){
              
              /*
                var value = (jQuery('.js-hasTshirt').val());
                console.log(value);
                if(value === '0'){
                    jQuery('.js-tshirtsize').show();
                }
                else {
                    jQuery('.js-tshirtsize').hide();
                }
              */
            }

            var prevSlideBox = function(){
                currentSlideBoxIndex = currentSlideBoxIndex -1;
                if(currentSlideBoxIndex < 0){
                    currentSlideBoxIndex = slideBoxes.length -1;
                }
            }

            var nextSlideBox = function(){
                currentSlideBoxIndex = currentSlideBoxIndex +1;
                if(currentSlideBoxIndex > (slideBoxes.length -1)){
                    currentSlideBoxIndex = 0;
                }
            }

            jQuery('body').keydown(function (e){ 
                if(e.keyCode == 37) 
                {
                    prevSlideBox();
                    showCurrentSlideBox();
                }
                else if(e.keyCode == 39)   
                { 
                    nextSlideBox();
                    showCurrentSlideBox();
                }
            });

            jQuery('.js-prev-slide-box').click(function(){
                prevSlideBox();
                showCurrentSlideBox();
               // console.log("prev",currentSlideBoxIndex);
            });

            jQuery('.js-next-slide-box').click(function(){
                nextSlideBox();
                showCurrentSlideBox();
               // console.log("next",currentSlideBoxIndex);
            });


            jQuery('.js-mission-choice').change(function(){
                var index = 0;
                index = (jQuery(this).prop('selectedIndex'));
                if(index > 0){
                    currentSlideBoxIndex = index - 1;
                    showCurrentSlideBox();
                }
            });

            jQuery('.js-mission-image').hover(function(){
              //var before = jQuery(this).html();

              return null;
              if(jQuery(this).find(".js-mission-video-preview").hasClass("invisible")){
                jQuery(this).find(".js-mission-video-preview").removeClass("invisible");
              }
              else{
                  jQuery(this).find(".js-mission-video-preview").addClass("invisible");
              };
              


            });

            jQuery('.js-hasTshirt').change(function(){ 
               renderTshirtForm(); 
            });

            renderTshirtForm();
            showCurrentSlideBox();
            
        });
    </script>
{% endblock %}

