<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/tailwind.min.css') }}" >
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}" >
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <nav class="clearfix container mx-auto mt-5  ">
                <img class="h-32 m-8 float-right" src="{{ asset('images/logo.jpg')}}">
            </nav>

            <div class="container mx-auto mt-5">
                {% for message in app.flashes('success') %}
                    <div class="w-full">
                        <div class="flex max-w-sm mb-4">
                            <div class="w-24 bg-burgdorf-light ">
                                <div class="p-6">
                                
                                <i class="fas fa-check fa-3x"></i>
                                </div>
                            </div>
                            <div class="items-center p-4">
                                <p >
                                  {{message}}
                                </p>
                            </div>
                        </div>
                    </div>           
                {% endfor %}

                {% block main %}

                {% endblock %}
            </div>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.4.0.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
