{% if app.user.getSelectedOrganisation() %}

<ul class="list-reset flex flex-row md:flex-col text-center md:text-left">
    <li class="mr-3 mt-5 flex-1">


        <a href="{{path('admin_organisation_list')}}">{{ app.user.getSelectedOrganisation().name }} </a>
    </li>   

    <li class="mr-3 flex-1">
            <a href="{{path('admin_dashboard')}}" 
                class="block py-1 md:py-3 pl-1 align-middle text-grey-darkest no-underline hover:text-yellow-light border-b-2 border-grey-darkest md:border-black hover:border-yellow-light"
            >
                <i class="fas fa-link pr-0 md:pr-3"></i>
                <span class="pb-1 md:pb-0 text-s md:text-base text-grey-dark md:text-grey-light block md:inline-block">
                    Dashboard
                </span>
        </a>
    </li>
    <li class="mr-3 flex-1">
            <a href="{{path('admin_project_list')}}" 
                class="block py-1 md:py-3 pl-1 align-middle text-grey-darkest no-underline hover:text-yellow-light border-b-2 border-grey-darkest md:border-black hover:border-yellow-light"
            >
                <i class="fas fa-link pr-0 md:pr-3"></i>
                <span class="pb-1 md:pb-0 text-s md:text-base text-grey-dark md:text-grey-light block md:inline-block">
                    Projekte
                </span>
        </a>
    </li>
    <li class="mr-3 flex-1">
            <a href="{{path('admin_mission_list')}}" 
                class="block py-1 md:py-3 pl-1 align-middle text-grey-darkest no-underline hover:text-yellow-light border-b-2 border-grey-darkest md:border-black hover:border-yellow-light"
            >
                <i class="fas fa-link pr-0 md:pr-3"></i>
                <span class="pb-1 md:pb-0 text-s md:text-base text-grey-dark md:text-grey-light block md:inline-block">
                    - Einsätze
                </span>
        </a>
    </li>
    <li class="mr-3 flex-1">
            <a href="{{path('admin_enrollment_list')}}" 
                class="block py-1 md:py-3 pl-1 align-middle text-grey-darkest no-underline hover:text-yellow-light border-b-2 border-grey-darkest md:border-black hover:border-yellow-light"
            >
                <i class="fas fa-link pr-0 md:pr-3"></i>
                <span class="pb-1 md:pb-0 text-s md:text-base text-grey-dark md:text-grey-light block md:inline-block">
                    - Anmeldungen
                </span>
        </a>
    </li>
    <li class="mr-3 flex-1">
            <a href="{{path('admin_person_list')}}" 
                class="block py-1 md:py-3 pl-1 align-middle text-grey-darkest no-underline hover:text-yellow-light border-b-2 border-grey-darkest md:border-black hover:border-yellow-light"
            >
                <i class="fas fa-link pr-0 md:pr-3"></i>
                <span class="pb-1 md:pb-0 text-s md:text-base text-grey-dark md:text-grey-light block md:inline-block">
                    Stammdaten
                </span>
        </a>
    </li>
    <li class="mr-3 flex-1">
            <a href="{{path('admin_user_list')}}" 
                class="block py-1 md:py-3 pl-1 align-middle text-grey-darkest no-underline hover:text-yellow-light border-b-2 border-grey-darkest md:border-black hover:border-yellow-light"
            >
                <i class="fas fa-link pr-0 md:pr-3"></i>
                <span class="pb-1 md:pb-0 text-s md:text-base text-grey-dark md:text-grey-light block md:inline-block">
                    Benutzer
                </span>
        </a>
    </li>
    <li class="mr-3 flex-1">
            <a href="{{path('admin_log_list')}}" 
                class="block py-1 md:py-3 pl-1 align-middle text-grey-darkest no-underline hover:text-yellow-light border-b-2 border-grey-darkest md:border-black hover:border-yellow-light"
            >
                <i class="fas fa-link pr-0 md:pr-3"></i>
                <span class="pb-1 md:pb-0 text-s md:text-base text-grey-dark md:text-grey-light block md:inline-block">
                    Logs
                </span>
        </a>
    </li>
<ul>

{% else %}

    No Organisation selected 

{% endif %}