{% extends 'admin/base.html.twig' %}

{% block title %} Projekte {% endblock %}

{% block main %}

<div class="w-full md:w-2/3 mx-auto">
  <div class="bg-white shadow-md rounded my-6">
    <a href="{{path('admin_project_create')}}">Neues Projekt erstellen</a>
    <table class="text-left w-full border-collapse"> <!--Border collapse doesn't work on this site yet but it's available in newer tailwind versions -->
      <thead>
        <tr>
          <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Aktiv</th>
          <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Projekt</th>
          <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Organisation</th>
         <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Einsätze</th>
         <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Anmeldungen</th>
        
        </tr>
      </thead>
      <tbody>

          {% for project in projects %}
          <tr class="hover:bg-grey-lighter">
            <td class="py-4 px-6 border-b border-grey-light">
            
            {% if (project.isEnabled) %}
            <i class="fas fa-toggle-on"></i>
            {% else %}
            <i class="fas fa-toggle-off"></i>
            {% endif %}
            </td>
            <td class="py-4 px-6 border-b border-grey-light">{{ project.id }} {{ project.name }}</td>
            <td class="py-4 px-6 border-b border-grey-light">{{ project.organisation.name }}</td>
            <td class="py-4 px-6 border-b border-grey-light"><a href="{{ path('admin_mission_list_by_project',{'id':project.id})}}"> Einsätze</a></td>
            <td class="py-4 px-6 border-b border-grey-light"><a href="{{ path('admin_enrollment_list_by_project',{'id':project.id})}}"> Anmeldungen</a></td>
            <td class="py-4 px-6 border-b border-grey-light">
              <a href="{{ path('admin_project_edit',{'id':project.id})}}"> edit </a> <br>
            </td>
          </tr>
          {% endfor %}

          </tbody>
          </table>
          </div>
          </div>


{% endblock %}

