{% extends 'admin/base.html.twig' %}

{% block title %}Person bearbeiten{% endblock %}

{% block main %}
<div class="admin-form-card">
  <div class="form-header">
    <h1>Person bearbeiten</h1>
    <p class="form-help">Passe Stammdaten an und pruefe den Aenderungsverlauf.</p>
  </div>
  {{ form(form) }}
</div>

<div class="admin-form-card mt-4">
  <div class="form-header">
    <h2>Aenderungslog</h2>
    <p class="form-help">Die letzten Aenderungen an dieser Person.</p>
  </div>
  <table class="admin-log-table">
    <thead>
      <tr>
        <th>Datum</th>
        <th>Benutzer</th>
        <th>ObjektClass</th>
        <th>ObjektId</th>
        <th>Action</th>
        <th>Version</th>
        <th>Daten</th>
      </tr>
    </thead>
    <tbody>
      {% for logEntry in logEntries %}
        <tr>
          <td>{{ logEntry.loggedAt|date('Y-m-d H:i') }}</td>
          <td>{{ logEntry.username }}</td>
          <td>{{ logEntry.objectClass }}</td>
          <td>{{ logEntry.objectId }}</td>
          <td>{{ logEntry.action }}</td>
          <td>{{ logEntry.version }}</td>
          <td><pre class="json-preview">{{ logEntry.data|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
