{% extends 'admin/base.html.twig' %}

{% block title %} Personen EMail Gruppen {% endblock %}

{% block main %}

<div class="w-full mx-auto">
  <div class="bg-white shadow-md rounded my-6">
    <table class="text-left w-full border-collapse">
      <thead>
        <tr>
            
          <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">E-Mail</th>
    
          <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Registrierte Personen</th>

          </th>
        </tr>
      </thead>
      <tbody>

          {% for email, users in emails %}
  
            <td class="py-4 px-6 border-b border-grey-light">
                {{ email }}
            </td>
            <td class="py-4 px-6 border-b border-grey-light">
{% for user in users %}

      {{user.lastname}} {{user.firstname}} <br />

{% endfor %}
            </td>
        
          </tr>
    {% endfor %}


          </tbody>
          </table>
        
          <div class="p-5">
            
            <div class="mb-5">
            <h2>Anzahl einmalige Emails: {{emails|length}}</h2>
                <a  href="mailto:personal@burdorfer-stadtlauf.ch?bcc={% for email, users in emails %}{{ email }},{% endfor %}">Mailprogram starten</a>
            </div>
            <h3>Gruppe "," getrennt: </h3><br />
                
                {% set counter = 1 %}
                 {% set totalCounter = 1 %}

                {% for email, users in emails %}{% if counter == 1 %}<b>50er Batch</b><textarea class="w-full mb-5 border" rows="5">{% endif %}{{ email }},{% if ((counter == 50) or ( emails|length  == totalCounter)) %}</textarea>{% endif %}{% set counter = counter + 1 %}{% set totalCounter = totalCounter + 1 %}{% if counter == 51 %}{% set counter = 1 %}{% endif %}{% endfor %}
            <h3>Gruppe ";" getrennt:</h3>
                <textarea class="w-full mb-5" rows="5">{% for email, users in emails %}{{ email }},{% endfor %}</textarea>
            </div>
          </div>
          </div>

{% endblock %}
