{% extends 'emails/base.html.twig' %}

{% block content %}
<table>
    <tr>
        <td>
            <p>
            Liebe/r  {{enrollment.firstname}}
            </p>
            <p>
            Danke, dass du dich verbindlich angemeldet hast!
            </p>
            <p>
            Anbei erhälst du die automatische Bestätigung.
            </p>
            <p>
            Details zu deinem Helfer-Einsatz werden dir eine Woche vor deinem Einsatz per E-Mail zugesendet.
            </p>
             {% if not workflow_has_marked_place(enrollment,'confirmed') %}
                <p>
                Bitte bestätige unter folgendem Link doch bitte noch deine E-Mail Adresse und Telefon:
                <a href="{{ url('volunteer_confirm_enrollment_email',{id: enrollment.id, token: enrollment.getConfirmToken()}) }}" >
                    Bestätigen
                </a>
                </p>
             {% endif %}
            <p>
            Solltest du noch Fragen haben, melde dich unter: personal@burgdorfer-stadtlauf.ch 
            </p>
            <p>
            Mit folgenden Angaben hast du dich angemeldet:
            </p>
            <table>
                <tr>
                    <td>
                        {{ 'firstname'|trans }}
                    </td>
                    <td>
                        {{enrollment.firstname}}
                    </td>
                </tr>
                {% if (projectManager.getFormSetting('lastname')) %}
                    <tr>
                        <td>
                            {{ 'lastname'|trans }}
                        </td>
                        <td>
                            {{enrollment.lastname}}
                        </td>
                    </tr>
                {% endif %}

                {% if (projectManager.getFormSetting('mobile')) %}
                    <tr>
                        <td>
                            Mobile
                        </td>
                        <td>
                            {{enrollment.mobile}}
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td>
                        Email
                    </td>
                    <td>
                        {{enrollment.email}}
                    </td>
                </tr>
                {% if (projectManager.getFormSetting('birthday')) %}
                    <tr>
                        <td>
                            {{ 'birthday'|trans }} 
                        </td>
                        <td>
                            {{enrollment.birthday|date("d.m.Y")}}
                        </td>
                    </tr>
                {% endif %}
                {% if (projectManager.getFormSetting('street')) %}
                    <tr>
                        <td>
                            {{ 'street'|trans }} 
                        </td>
                        <td>
                            {{enrollment.street}}
                        </td>
                    </tr>
                {% endif %}
                {% if (projectManager.getFormSetting('zip') or projectManager.getFormSetting('city') ) %}
                    <tr>
                        <td>
                            PLZ / Ort 
                        </td>
                        <td>
                            {% if (projectManager.getFormSetting('zip')) %} {{enrollment.zip}}    {% endif %}
                            
                            {% if (projectManager.getFormSetting('city')) %} {{enrollment.city}}  {% endif %}
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td valign="top">
                        Gewünschter Einsatzort 
                    </td>
                    <td>
                    01: {{enrollment.missionChoice01}} <br>
                    {{enrollment.missionChoice01.getStart()|date('d.m.Y H:i')}} - {{enrollment.missionChoice01.getEnd()|date('H:i')}}<br />
                    {% if enrollment.missionChoice02 %} 
                        <br>
                        02:  {{enrollment.missionChoice02}} <br> 
                        {{enrollment.missionChoice02.getStart()|date('d.m.Y H:i')}} - {{enrollment.missionChoice02.getEnd()|date('H:i')}}<br />
                    {% endif %}
                    </td>
                </tr>
                {% if (projectManager.getFormSetting('hasTshirt')) %}
                    <tr>
                        <td>
                            Helfer T-Shirt vorhanden und kann mitgenommen werden?
                        </td>
                        <td>
                            {% if enrollment.hasTshirt %} 
                                Ja
                            {% else %}
                                Nein
                            {% endif %}   
                        </td>
                    </tr>
                {% endif %}
            
                {% if not enrollment.hasTshirt %} 
                    {% if (projectManager.getFormSetting('tshirtsize')) %}
                        <tr>
                            <td>
                                T-Shirt Grösse
                            </td>
                            <td>
                            {{enrollment.tshirtsize}} 
                            </td>
                        </tr>
                    {% endif %}
                {% endif %} 
                {% if (projectManager.getFormSetting('comment')) %}
                    <tr>
                        <td>
                            Kommentar
                        </td>
                        <td>
                            {{enrollment.comment}} <br />
                        </td>
                    </tr>
                {% endif %}
            </table>
            <p>
                Liebe Grüsse
            </p>
            <p>
                Maria Tschanz,<br />
                Ressort Personal OK-Burgdorfer-Stadtlauf 
            </p>
        </td>
    </tr>
</table>



  {% endblock %}

