<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/tailwind.min.css') }}" >
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}" >
        {% endblock %}


    </head>
    <body>
        {% block body %}
            <nav class="clearfix container mx-auto mt-5  ">
                 {% block logo %}
                        here is the logo
                 {% endblock %}
            </nav>

  
            <div class="container mx-auto mt-5">
                {% for message in app.flashes('success') %}
                    <div class="w-full">
                        <div class="flex max-w-sm mb-4">
                            <div class="w-24 bg-green-light ">
                                <div class="p-6 text-center text-white">
                                    <i class="fas fa-check fa-3x"></i>
                                </div>
                            </div>
                            <div class="items-center p-4">
                                <p >
                                {{message}}
                                </p>
                            </div>
                        </div>
                    </div>           
                {% endfor %}
                {% for message in app.flashes('danger') %}
                    <div class="w-full">
                        <div class="flex max-w-sm mb-4">
                            <div class="w-24 bg-red-light">
                                <div class="p-6 text-center text-white">
                                
                                <i class="fas fa-exclamation fa-3x"></i>
                                </div>
                            </div>
                            <div class="items-center p-4">
                                <p >
                                {{message}}
                                </p>
                            </div>
                        </div>
                    </div>           
                {% endfor %}

                {% block main %}

                {% endblock %}

                <div class="w-full text-center p-10">
                    <a target="_blank" class="text-grey-darker hover:text-grey-darkest no-underline" href="https://burgdorfer-stadtlauf.ch/datenschutzerklaerung">Datenschutzerklärung</a> | 
                    <a target="_blank" class="text-grey-darker hover:text-grey-darkest no-underline" href="https://burgdorfer-stadtlauf.ch/impressum">Impressum</a>
                </div>
            </div>
          
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.4.0.min.js') }}"></script>
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </body>
</html>
